<span class="icon-svg {% if class != blank %}{{ class }}{% endif %}">

  {% render 'logo', alt: alt %}

  {% if alt != blank %}
    <span class="visually-hidden">
      {{ alt }}
    </span>
  {% endif %}
  </span>
