<button class="slider-button prev js-slider-button-prev">
  {% render 'icon-arrow-left', alt: 'Previous', class: 'current-color-stroke' %}
</button>
<button class="slider-button next js-slider-button-next">
  {% render 'icon-arrow-right', alt: 'Next', class: 'current-color-stroke' %}
</button>