/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: font-url('noto-serif-v9-latin-regular', 'eot'); /* IE9 Compat Modes */
  src: font-url('noto-serif-v9-latin-regular', 'eot'), /* IE6-IE8 */
       font-url('noto-serif-v9-latin-regular', 'woff2'), /* Super Modern Browsers */
       font-url('noto-serif-v9-latin-regular', 'woff'), /* Modern Browsers */
       font-url('noto-serif-v9-latin-regular', 'ttf'), /* Safari, Android, iOS */
       font-url('noto-serif-v9-latin-regular', 'svg#NotoSerif'); /* Legacy iOS */
}
/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: font-url('noto-serif-v9-latin-700', 'eot'); /* IE9 Compat Modes */
  src: font-url('noto-serif-v9-latin-700', 'eot'), /* IE6-IE8 */
       font-url('noto-serif-v9-latin-700', 'woff2'), /* Super Modern Browsers */
       font-url('noto-serif-v9-latin-700', 'woff'), /* Modern Browsers */
       font-url('noto-serif-v9-latin-700', 'ttf'), /* Safari, Android, iOS */
       font-url('noto-serif-v9-latin-700', 'svg#NotoSerif'); /* Legacy iOS */ 
}
/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: font-url('ibm-plex-mono-v6-latin-regular', 'eot'); /* IE9 Compat Modes */
  src: font-url('ibm-plex-mono-v6-latin-regular', 'eot'), /* IE6-IE8 */
       font-url('ibm-plex-mono-v6-latin-regular', 'woff2'), /* Super Modern Browsers */
       font-url('ibm-plex-mono-v6-latin-regular', 'woff'), /* Modern Browsers */
       font-url('ibm-plex-mono-v6-latin-regular', 'ttf'), /* Safari, Android, iOS */
       font-url('ibm-plex-mono-v6-latin-regular', 'svg#IBMPlexMono'); /* Legacy iOS */
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: font-url('ibm-plex-mono-v6-latin-700', 'eot'); /* IE9 Compat Modes */
  src: font-url('ibm-plex-mono-v6-latin-700', 'eot'), /* IE6-IE8 */
       font-url('ibm-plex-mono-v6-latin-700', 'woff2'), /* Super Modern Browsers */
       font-url('ibm-plex-mono-v6-latin-700', 'woff'), /* Modern Browsers */
       font-url('ibm-plex-mono-v6-latin-700', 'ttf'), /* Safari, Android, iOS */
       font-url('ibm-plex-mono-v6-latin-700', 'svg#IBMPlexMono'); /* Legacy iOS */
}